# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
InfectStatistic-example.iml
221701111/.classpath
221701111/.classpath
221701111/.project
221701111/.settings/org.eclipse.core.resources.prefs
221701111/log/2020-01-22.log.txt
221701111/log/2020-01-23.log.txt
221701111/log/2020-01-27.log.txt
221701111/result/ListOut1.txt
221701111/result/ListOut2.txt
221701111/result/ListOut3.txt
